@charset "utf-8";
//轮播图
//
.scroll_tu{
    height: 340px;
    background:pink;
    overflow: hidden;
    width: 100%;
    li{
        display:block;
        img{
        display:block;
        margin-left: -352px;
    }
    }
}

//展示区
//
#webmain{
    background-color: #f2f2f2;
}
//直播展示区
//
.webz{
    overflow:hidden;
    .webz_title{
        margin-top: 16px;
        height: 34px;
        line-height: 34px;
        color: #444;
        font-size: 16px;

        .webz_title_line{
            width: 4px;
            height: 22px;
            background: #f70800;
            margin: 7px 8px 0 0;
        }
        .webz_title_tt i{
            font-size: 26px;
            color: #f70800;
        }
        .webz_title_tt{
        font-size: 24px;
        color: #222;
        margin-right: 5px;
        font-weight: 600;
        }
        a{  
            display:inline-block;
            width: 116px;
            height: 34px;
            background:url(img/program_list_btn.png) no-repeat;
        }
    }
// 直播展示区1
    .webz_live{
        width: 960px;
        padding: 19px;
        background: #FFF;
        border: 1px solid #ddd;
        margin-top: 12px;
        position: relative;
        .webz_live_list{
            height: 278px;
            overflow: hidden;
            position: relative;
            ul{
                width: 960px;
                li{
                    position: relative;
                    float: left;
                    height: 278px;
                    overflow: hidden;
                    width: 960px;
                    .live_cc{
                        float: left;
                        width: 300px;
                        padding: 0 10px;
                        border-left: 1px solid #eee;
                        margin-left: -1px;
                        position: relative;
                        .live_cc_img{
                            width: 300px;
                            height: 160px;
                            .live_ing{
                                width: 51px;
                                height: 22px;
                                line-height: 22px;
                                position: absolute;
                                top: 10px;
                                left: 10px;
                                background: -webkit-linear-gradient(left, #ff5953, #ff3d5a);
                                background: -o-linear-gradient(left, #ff5953, #ff3d5a);
                                background: -moz-linear-gradient(left, #ff5953, #ff3d5a);
                                background: linear-gradient(left, #ff5953, #ff3d5a);
                                border-radius: 11px;
                                padding: 0 10px 0 19px;
                                color: #FFF;
                                font-size: 12px;
                                white-space: nowrap;
                            }
                            .live_ing::after {
                                content: '';
                                width: 5px;
                                height: 5px;
                                background: #FFF;
                                border-radius: 50%;
                                position: absolute;
                                left: 10px;
                                top: 8px;
                            }

                            .live_logo{
                                position: absolute;
                                right: 10px;
                                top: 10px;
                                width: 67px;
                                height: 23px;
                            }
                        }
                        .live_back{
                                width: 130px;
                                height: 40px;
                                background: rgba(0,0,0,.5);
                                position: absolute;
                                left: 50%;
                                top: 50%;
                                margin: -20px 0 0 -65px;
                                color: #fff;
                                font-size: 18px;
                                line-height: 40px;
                                border-radius: 30px;
                                text-indent: 20px;
                                z-index: 10;
                                cursor: pointer;
                            }
                        >a{
                            .live_tit{
                                margin-top: 10px;
                                height: 52px;
                                line-height: 26px;
                                overflow: hidden;
                                padding: 0 10px;
                                .img_tit{
                                    font-size: 16px;
                                    display: block;
                                    overflow: hidden;
                                }
                                .img_tit:after {
                                    content: ".";
                                    display: block;
                                    height: 0;
                                    visibility: hidden;
                                    clear: both;
                                }
                            }
                            .live_qian{
                                margin-top: 13px;
                                height: 26px;
                                padding: 0 10px 3px 10px;
                                .live_qian_v{
                                    font-size: 26px;
                                    color: #222;
                                    font-family: arial;
                                    margin-right: 10px;
                                    float: left;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

//限时购
//
.livetime-day{
    margin-left: 10px;
}
.livetime-day>span{
    background: #333;
    color: #FFF;
    padding: 5px;
    font-size: 14px;
}
.zhuti{
    height: 392px;
    background:DarkViolet;
}

//品类促销
//
//全球尖货
.item_list_box{
    clear: both;
    ul{
        width: 1020px;
        li{
            float: left;
            margin-top: 20px;
            margin-right: 20px;
            width: 318px;
            height: 452px;
            overflow: hidden;
            border: 1px solid #ddd;
            .item_box{
                padding: 10px;
                background-color: #fff;
                position: relative;
                .item_img{
                    position: relative;
                    width: 298px;
                    height: 298px;
                    overflow: hidden;

                    background:url(http://img.ugoshop.com/images/201810/1539018340031980732.jpg) no-repeat;
                    background-size:100%;
                }
                .img_title{
                    margin-top: 18px;
                    height: 52px;
                    line-height: 26px;
                    overflow: hidden;
                    padding: 0 10px;
                }
                .img_abstract{
                    color: #f70800;
                    margin-top: 5px;
                    overflow: hidden;
                    height: 16px;
                    line-height: 16px;
                    font-size: 12px;
                    padding: 0 10px;
                }
                .img_qian{
                    margin-top: 15px;
                    position: relative;
                    .img_qian_price{
                        font-size: 26px;
                        color: #222;
                        font-family: arial;
                        margin-right: 10px;
                    }
                    .img_qian_purchased{
                        color: #666;
                        margin-top: 9px;
                        i{
                            color: #f70800;
                        }
                    }
                    .sale_price{
                        position: relative;
                        top:11px;
                        margin-top: 9px;
                        z-index: 1;
                        text-decoration: none;
                        font-size: 12px;
                        >p{
                            position: absolute;
                            top: -16px;
                            left: 0;
                            width: 205px;
                            z-index: 2;
                            em{
                                @extend .i_tag;
                                background-color: #ff504a;
                                
                            }
                        }
                        >span{
                            color: #999;
                        }
                        >em{
                            color: #999;
                            text-decoration: line-through;
                        }
                    }
                }
            }
        }
        li:hover{
            border: 1px solid #ff504a;
        }
        li:hover .img_title{
            text-decoration:underline;
        }
    }
}

}
//其他
.i_tag{
    width: 24px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-family: "微软雅黑";
    border-radius: 10px;
    padding: 0 5px;
    margin-right: 5px;
    display: inline-block;
    float: left;
}